<header>

  <h1>Profile</h1>

  <div>
    <p>   Bienvenido,  {{user.first_name}} - {{user.last_name}}!</p>
    <p>Edad: {{user.age}} </p>
    <a href="/api/sessions/logout">LOGOUT</a>
  </div>
</header>
